.sharebutton {
    cursor: pointer;
    padding: 1em;
    font-family: 'Lato', sans-serif;
    font-size: small;
    width: 7em;
    color: white;
    background: #212121;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 0.5em;
    outline: 0.1em solid #353535;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  
  .sharebutton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1em 0.45em rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #212121, #252525);
    background: radial-gradient(
      circle at bottom,
      rgba(50, 100, 180, 0.5) 10%,
      #212121 70%
    );
    outline: 0;
  }
  
  .icon {
    fill: white;
    width: 1em;
    top: 0;
    left: 0;
    margin: auto;
    transform: translate(-35%, 10%);
  }
  

  .customBtn {
    color: #fff;
    border-radius: 25px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.returnBtn {
    border: none;
    color: #000;
  }

.returnBtn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    border-radius: 25px;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.returnBtn:hover {
    color: #000;
    transform: scale(1.02);
}

.returnBtn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
    border-radius: 25px;
}

.returnBtn:active {
    top: 2px;
}

.returnBtn svg {
    margin-right: 10px;
    margin-left: 5px;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
   
.returnBtn:hover > svg {
    font-size: 1.2em;
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px);
}
