.container{
    background-color: #F7FAFC;
}

.expertise{
        padding: 10% 2% 0% 10%;
        color: #181918;
    }

.title{
      font-weight: normal;
  }

  .expertise h2{
    text-align: justify;
  }
  
  .expertise p{
    text-align: justify;
  }

  .effty{
    cursor: text !important;
  }

  .primaryBtn {
    border: solid 4px rgb(229, 229, 229);
    width: 200px;  
    height: 100px;  
    margin: 10px 5px 0 10px;  
}

.primaryBtn:hover {
    border-color: #000;
    color: #000
}

.secondaryBtn {
    border: none;
    margin-top: 5%;
}

.tertiaryBtn {
  border: solid 4px #F0F0F0;
  width: auto;  
  height: 75px; 
  margin: 0 5px 2px 0;
}

.tertiaryBtn:hover {
  border-color: #000;
  color: #000
}

.options {
    margin-top: 20px;  
}

.Img img{
  height: 100%;
  width: auto;
}

@media screen and (max-width: 992px) {
  .Img{
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .Img img{
    height: 100%;
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .Img img{
    height: 100%;
    width: auto;
  }
}



