.newsletterform {
    position: relative;
    max-width: 355px;
    z-index: 999;
}

.newsletterform input {
    /* height: 55px; */
    width: 100%;
    margin-right: 40px;
    padding: 18px 50px 17px 30px;
    font-family: IM Fell English,Times,Georgia,serif;
    font-weight: 400;
    font-style: italic;
    border: 0 none;
    border-radius: 25px;
    outline: none;
    background-color: #fff;
    color: #181918;
    font-size: 1.125rem;
    line-height: 1;
}

.newsletterform button {
    font-family: Sofia Pro,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 40px;
    height: 36px;
    transition: background-color .3s cubic-bezier(.165,.84,.44,1);
    border-radius: 15px;
    background-color: #181918;
    color: #fff;
    font-size: .875rem;
    line-height: 1;
    position: absolute;
    right: 9px;
    bottom: 9px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

/* Add this to your existing CSS */
.spinner {
    animation: rotateArrow 2s infinite;
  }
  
  @keyframes rotateArrow {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(45deg) translateY(2px);
    }
  }
  