.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    overflow: hidden;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img{
    width: 40px;
    border-radius: 50px;
}

.mainContainer{
    max-width: 950px;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 200px); 
    overflow-y: auto;
}

.chat {
    flex-grow: 1;
    overflow: auto;
}

.articleContainer {
    max-height: calc(100vh - 200px); 
    overflow-y: auto;
    padding-right: 100px;
}

.mainContainer .greet{
    margin: 50px 0px;
    font-size: 56px;
    color:#c4c7c5;
    font-weight: 500px;
    position: sticky;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main .greet span span{
    background: rgba(0, 0, 0, .2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
	position: absolute;
	margin: 0;
	padding-left: 0px;
    transform-origin: bottom;
	transform: skewX(-30deg);
}

.main .greet span span::before {
    background: -webkit-linear-gradient(1deg,#ff6279,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    content: attr(data-title);
	position: absolute;
    transform-origin: bottom;
	transform: skewX(30deg)
}

.animateFadeIn {
    opacity: 0;
    animation: FadeIn 1s ease-in-out forwards;
  }
  
  .animateFadeDelay {
    animation-delay: 0.5s; 
  }
  
  @keyframes FadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
}

.main .card{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    background: white;
}

.main .card .articleDate {
    position: absolute;
    bottom: 10px; 
    left: 15px; 
    color: #585858; 
}

.main .card p{
    color: #585858;
    font-size: 17px;
}

.truncatetext{
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.main .card:hover{
    background-color: #dfe4ea;
}

.mainBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 40px;
}

.searchBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.searchBox img{
    width: 24px;
    cursor: pointer;
}

.searchBox input{
    flex: 1;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 8px;
    font-size: 18px;
}

.searchBox div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottomInfo{
    font-size: 13px;
    margin: 5px auto;
    text-align: center;
    font-weight: 300;
}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.resultTitle{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result img{
    width: 40px;
    border-radius: 50px;
}

.resultData{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr{
border-radius: 4px;
border: none;
background-color: #f6f7f8;
background: linear-gradient(to right,#b1d5ee,#c953e98a,#9ed7ff);
background-size: 800px 50px;
height: 20px;
animation: loader 4s infinite linear;
}

@keyframes loader{
    0%{
        background-position: -800px 0px;

    }
    100%{
        background-position: 800px 0px;
    }
}

.resultData p{
    font-size: 17px;
    font-weight: 300px;
    line-height: 1.8;
}

@media (min-width: 640px) and (max-width: 1200px) {
    .main .nav{
        margin-left: 50px;
    }
    .articleContainer {
        max-height: calc(100vh - 200px); 
        overflow-y: auto;
        padding-right: 50px;
        padding-left: 3%;
    }
    .mainTop{
        max-height: calc(100vh - 200px); 
        padding: 0% 3% 5% 3%;
    }
    .mainContainer .greet{
        margin: 20px 0; 
        font-size: 40px;
        color:#c4c7c5;
        font-weight: 500px;
    }
}

@media screen and (max-width: 640px) {
    .main .nav{
        margin-left: 30px;
    }
    .articleContainer{
        max-height: calc(100vh - 220px); 
        overflow-y: auto;
        padding: 0% 3% 5% 3%;
    }
    .mainTop{
        max-height: calc(100vh - 220px); 
        padding: 0% 3% 5% 3%;
    }
    .mainContainer .greet{
        font-size: 36px;
        color:#c4c7c5;
        font-weight: 500px;
    }
    .main .bottomInfo{
        font-size: 10px;
    }
}
