.offcanvas .btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
}

.customOffcanvas .offcanvas {
  width: 500px;
}

  .centercontent {
    background-color: black;
    padding-left: 10%;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Gotham A", "Gotham B", helvetica, arial, sans-serif;
  }
  
  .moveleft {
    animation-duration: 1s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      padding-left: 100%;
      width: 300%;
    }
  
    to {
      padding-left: 10%;
      width: 100%;
    }
  }