.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 10px 15px;
    width: 75px;
    transition: width 0.7s, transform 0.3s;
}

.sidebar.extended {
    width: 250px;
}

.top{
    margin-top: 15px;
}

.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.newChat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.newChatText{
    margin: 0;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
}

.sidebar .recentTitle{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recentEntry{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}

.sidebar .recentEntry:hover{
    background-color: #e2e6eb;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottomItem{
    padding-right: 10px;
    cursor: pointer;
    align-items: center;
}

.bottomItem p{
    margin: 0 0 2% 0;
    vertical-align: middle;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    max-height: 90vh;
    overflow-y: auto;
}

.modalContent h2 {
    margin-bottom: 20px;
}

.modalContent select {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modalContent button {
    margin-left: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modalContent .react-datepicker button{
    background-color: #007bff;
}

.modalButtons button:first-of-type {
    background-color: #007bff;
    color: white;
}

.modalButtons button:last-of-type {
    background-color: #ccc;
}

@keyframes fadeIn {
    0% {opacity: 0; display: none;}
    25% {opacity: 0.25; display: none;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}

.fadeIn {
    animation: fadeIn 0.7s;
}

@keyframes recentFadeIn {
    0% {opacity: 0; display: none;}
    25% {opacity: 0.25; display: none;}
    50% {opacity: 0.5; display: none;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}

.recentFadeIn {
    animation: recentFadeIn 0.7s;
}

.mobileMenuButton {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1500;
    background: none;
    border: none;
}

@media (max-width: 1200px) {
    .sidebar {
        position: fixed;
        left: -350px;
        top: 0;
        bottom: 0;
        width: 350px;
        z-index: 1000;
    }
    .sidebar.extended {
        width: 350px;
    }
    .sidebar .menu {
        display: none;
    }

    .sidebar.mobileOpen {
        transform: translateX(350px);
    }

    .mobileMenuButton {
        display: block;
        top: 20px;
        left: 10px;
        display: flex;
        align-items: center;
    }

    .modal{
        animation: recentFadeIn 0.7s;
    }
}
