/* Background color */

body {
  overflow-x:hidden;
}

.bg-all{
  background-color: #F7FAFC;
}

.blur-effect {
  filter: blur(4px);
}

.rev {
  transform: scaleX(-1);
}

/* About */

.about-add{
  background-color: #F7FAFC;
  font-family: Arial, Helvetica, sans-serif;
}

.about h1{
  font-size: 3rem;
    font-weight: normal;
    color: #181918;
    margin-left : 5%;
    padding: 5% 0% 5% 0%;
}

.about h3{
  padding-left: 5%;
  text-align: justify;
}

.about h5{
  padding-left: 5%;
  text-align: justify;
  /* font-style: italic; */
}

.about p{
  padding-left: 5%;
  text-align: justify;
}

.about ul, ol{
  padding-left: 7%;
  text-align: justify;
}

/* Blogs  & Expertise*/

.badge.bg-purple {
  background-color: #3d1d94;
}

.badge.bg-pink {
  background-color: #c62bcd;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.user {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #888785;
}

/* CarouselFade */

  .carousel-indicators{
    background-color: grey;
    width: 17.5%;
    /* height: 10%; */
    position: absolute;
    margin-left: 5%;
    margin-bottom: 5%;
    /* align-items: center;
    justify-content: center; */

  }

  .carousel-indicators [data-bs-target] {
    background-color: black !important;
    transition: background-color 3s ease;
  }
  
  .carousel-indicators .active {
      background-color: white !important;
      margin: 0 1% 0 1%;
      fill: white;
      /* height: 5%; */
  }

/* Contact Us */

.contact-us{
  font-family: Sofia Pro,Helvetica,Arial,sans-serif;
}

/* Office.tsx */

.offices-add{
    background-color: #F7FAFC;
}

.offices h1{
    font-size: 3rem;
    font-weight: normal;
    font-family: "Gotham A", "Gotham B", helvetica, arial, sans-serif;;
    color: #181918;
    margin-left : 5%;
    padding: 5% 0% 5% 0%;
  }
  
  .offices h2{
    margin-top: 20%;
    cursor: pointer;

  }


.pl-bg{
  background-color: #F1F0F0;
  font-size: medium;
}

.submit-btn{
  margin-left: 75%;
  border-radius: 25px;
  font-size: small;
}

/* Expertise */


.expertise {
  padding: 2rem 0;
}

.expert h1{
  font-size: 3rem;
  font-weight: normal;
  font-family: "Gotham A", "Gotham B", helvetica, arial, sans-serif;;
  color: #181918;
  margin-left : 5%;
  padding: 5% 0% 5% 0%;
}

.truncate-text {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* SideSearch */

.side-height {
  margin-top: 50%;
  margin-left: 1%;
}

/* SlidShow */

.slideshow-slide{
  width: 100%;
  height: 750px;
}

/* Media Queries -Navbar */

@media screen and (max-width: 376px){
  .container-fluid {
    flex-wrap: nowrap !important;
  }
}

/* Media Queries -Slideshow Carousel */

@media screen and (max-width: 376px){
  .slideshow-slide{
    height: 300px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .slideshow-slide {
      height: 350px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .slideshow-slide {
      height: 400px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slideshow-slide {
      height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .slideshow-slide {
    height: calc(98vh - var(--navbar-height));
  }
}

/* Expertise */

@media (min-width: 1200px) {
  .card-wrap {
    margin: 10px;
    transform: perspective(1200px);
    transform-style: preserve-3d;
    cursor: pointer;
    overflow: hidden;
  }
  
  .card-wrap:hover .card-info {
    transform: translateY(0);
  }
  
  .card-wrap:hover .card-info p {
    opacity: 1;
    color: black; 
  }
  
  .card-wrap:hover .card-info,
  .card-wrap:hover .card-info p {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card-wrap:hover .card-info:after {
    transition: 3s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateY(0);
  }
  
  .card-wrap:hover .card-bg {
    transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 4s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
  }
  
  .card-wrap:hover .card {
    transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: none;
  }
  
  .card-wrap:hover .read-more {
    display: flex;
  }
  
  .card {
    position: relative;
    flex: 0 0 240px;
    width: 320px;
    height: 320px;
    background-color: #fff;
    overflow: hidden;
    transition: 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .card-bg {
    opacity: 0.5;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 4s 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
  }
  
  .card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: black; 
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .card-info p {
    opacity: 0;
    text-shadow: none;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .card-info * {
    position: relative;
    z-index: 1;
  }
  
  .card-info:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .card-info h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: black; 
    margin-bottom: 20px; 
  }
  
  .read-more {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }
  
  .card-bg {
    transform: translateZ(-1px) scale(2); 
  }
}

/* Loading Animation */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it covers everything */
}

.three-body {
  --uib-size: 50px;
  --uib-speed: 0.8s;
  --uib-color: #5D3FD3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite
      calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
      transform: translateY(0%) scale(1);
      opacity: 1;
  }

  50% {
      transform: translateY(-66%) scale(0.65);
      opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
      transform: translateY(0%) scale(1);
      opacity: 1;
  }

  50% {
      transform: translateY(66%) scale(0.65);
      opacity: 0.8;
  }
}
